# SNP mutation rate per base (default: 0.02)	
snp_rate=0.02
# Indel mutation rate per base (default: 0.005)	
indel_rate=0.005
# Proportion of insertion events among INDELs (0-1, default: 0.4)
ins_ratio=0.5
# Parameter p of geometric distribution for indel lengths (default: 0.7)	
indel_geom_p=0.7
# maximum length of INDEL	
max_indel_len=20

